@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Subtle background for the track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(15, 23, 42, 0.8), rgba(203, 213, 225, 0.8));
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, rgba(15, 23, 42, 1), rgba(203, 213, 225, 1)); /* Darker gradient on hover */
}


.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#94a3b8 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#94a3b8);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }